*#
*.#*
*.db
*.pyc
*egg-info/
*~

.DS_Store
.env
.Python
.ropeproject/
.sass-cache/
.vscode/
.ruby-version

bin/*
data/

env.sh
env/
import_post

mtlpy.sublime-*
mtlpy/collected_static/
mtlpy/media/

.mypy_cache/
.cache/
