# 8000 for prod - 8001 for stage
export GUNICORN_PORT=8001
export DEBUG=false
export SECRET_KEY=
export ALLOWED_HOSTS=
export DATABASE_ENGINE=django.db.backends.mysql
export DATABASE_NAME=website_stage
export DATABASE_USER=website_stage
export DATABASE_PASSWORD=__changeme__
export DATABASE_HOST=
export DATABASE_PORT=
export YOUTUBE_API_KEY=NVmnFlQvQHusn64TpCDEXG6cpRZQ9rvqc7lGWnj
