[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"oauth2client" = "==3.0.0"
arrow = "==0.10.0"
boto = "==2.46.1"
bugsnag = "==3.1.0"
dj-static = "==0.0.6"
django = "==1.11.7"
django-environ = "==0.4.0"
django-extensions = "==1.9.8"
django-pagination-bootstrap = "==1.2.4"
django-storages = "==1.5.2"
google-api-python-client = "==1.6.4"
gunicorn = "==19.7.1"
markdown = "==2.6.8"
pillow = "==4.1.0"
pymysql = "==0.7.11"
pytz = "*"
requests = "==2.18.0"
sorl-thumbnail = "==12.3"
python-dateutil = "==2.6.0"
futures = "*"


[dev-packages]

pylint = "< 1.7"
"flake8" = "*"

[requires]
python_version = "3.6.3"