// Base
// ==========================
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

// Form input
// ==========================
input[type="text"], input[type="email"], textarea {
    &, &:focus {
        border: solid 1px #e9e8e5;
        border-radius: 0;
        box-shadow: 1px 2px 1px #585857;

        padding: auto 10px;
    }

    &.input--alpha {
        border: 0;
        box-shadow: none;
        color: #b3b3b0;
        margin: 0;
        padding: 11px 20px;
        width: 45%;
    }
}



#contact-form {
    input[type="text"], input[type="email"], textarea {
        width: 100%;
    }
    textarea{
       height: 200px;
    }
}
