{% load i18n %}
{% load thumbnail %}
{% load gravatar_helper %}
{% load staticfiles %}


<div class="span4">

    <div class="spacer"></div>

    <div class="sidebar">
        <time class="sidebar-date" datetime="{{ article.publish }}">
            <span class="sidebar-date-inner">
              <span>{{ article.publish|date:"d" }}</span>
              <small>{{ article.publish|date:"N" }}</small>
              <small>{{ article.publish|date:"Y" }}</small>
            </span>
        </time>

        <img src="//www.gravatar.com/avatar/{{ article.author|email_hash }}?s=128&amp;d=identicon&amp;r=PG" alt="{% trans 'Author' %}" class="sidebar-avagar" />

        <div class="sidebar-author">
            <p>
              <strong><a href="{% url 'user_posts' userid=article.author.pk %}">{{ article.author.first_name }}</a></strong>
            </p>
            {% if article.category %}
              <p>{% trans "Category :" %}</p>
              <p><a href="{% url 'blog_category' article.category.slug %}">{{ article.category.title }}</a></p>
            {% endif %}
        </div>

    {% if article.event_sponsors.count %}
        <div class="sidebar-body">
            <div class="sidebar-body-title">{% trans "Sponsors :" %}</div>
        {% for e_sponsor in article.event_sponsors.all %}
            {% thumbnail e_sponsor.sponsor.logo "160x140" as im %}
            <a class="sidebar-sponsor" target="_blank" href="{{ e_sponsor.sponsor.url }}">
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ e_sponsor.sponsor.name }}" />
            </a>
            {% endthumbnail %}
        {% endfor %}
        </div>
    {% endif %}

        <div class="sidebar-social"  >
          <div class="sidebar-body-title">{% trans "Share :" %}</div><br />
          <ul class="share-buttons">
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri | urlencode }}&amp;quote={{ article.title|striptags|urlencode }}"
                target="_blank" title="Share on Facebook">
                <img alt="Share on Facebook" src="{% static 'img/share-buttons/inverted/Facebook.png' %}" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/intent/tweet?source={{ request.build_absolute_uri | urlencode }}&amp;text={{ article.title|striptags|urlencode }}%20{{ request.build_absolute_uri | urlencode }}&amp;via=mtlpy"
                target="_blank" title="Tweet">
                <img alt="Tweet" src="{% static 'img/share-buttons/inverted/Twitter.png' %}" />
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/share?url={{ request.build_absolute_uri | urlencode }}"
                target="_blank" title="Share on Google+">
                <img alt="Share on Google+" src="{% static 'img/share-buttons/inverted/Google+.png' %}" />
              </a>
            </li>
            <li>
              <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri | urlencode }}&amp;title={{ article.title|striptags|urlencode }}"
                target="_blank" title="Submit to Reddit">
                <img alt="Submit to Reddit" src="{% static 'img/share-buttons/inverted/Reddit.png' %}" />
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri | urlencode }}&amp;title={{ article.title|striptags|urlencode }}&amp;summary=&amp;source={{ request.build_absolute_uri | urlencode }}"
                target="_blank" title="Share on LinkedIn">
                <img alt="Share on LinkedIn" src="{% static 'img/share-buttons/inverted/LinkedIn.png' %}" />
              </a>
            </li>
            <li>
              <a href="mailto:?subject={{ article.title|striptags|urlencode }}&amp;body={{ article.title|striptags|urlencode }}%20{{ request.build_absolute_uri | urlencode }}"
                target="_blank" title="Send email">
                <img alt="Send email" src="{% static 'img/share-buttons/inverted/Email.png' %}" />
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>
