{% extends "base.html" %}

{% load i18n %}

{% block main_title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}
  <section id="content" class="body">
    <article>
      <div class="row">
        <div class="span8">
          {{ article.html_content|safe }}
          {% for video in article.videos.all %}
            <iframe class="youtube-player" type="text/html" width="540" height="285"
                    src="//www.youtube.com/embed/{{ video.code }}"
                    allowfullscreen frameborder="0">
            </iframe>
            <br/><br/>
          {% endfor %}
        </div>
        {% include 'article_infos.html' %}
      </div>

    </article>
  </section>
{% endblock %}
