{% load i18n %}
{% load i18n_pages %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block main_title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700'  />
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Arvo:400,700' />
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <div id="wrapper">
            {% block page %}
              <div id="mainmenu">
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container" aria-role="navigation">
                      <a id="logo" href="{% url 'home_page' %}" class="brand">
                        <img src="{% static 'img/logo/MontrealPythonLogo-new.png' %}" width="117" height="65" />
                      </a>

                      <div id="mainmenu-extramenu" class="dropdown pull-right">
                        <a tabindex="-1" class="dropdown-toggle" data-toggle="dropdown" href="#" id="mainmenu-settings-link"></a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                          {% block language_links %}
                            {% for lang in LANGUAGES %}
                              <li><a tabindex="-1" href="{% url 'change_locale' lang.0 %}">{{ lang.1 }}</a></li>
                            {% endfor %}
                          {% endblock %}
                        </ul>
                      </div>

                      <nav class="nav-collapse collapse">
                        <ul class="nav">
                          <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>

                          <li><a href="{% url 'videos' %}">{% trans "Videos" %}</a></li>
                          {% i18npage /about/ %}
                          {% if found_page %}
                            <li><a href="{{ found_page.get_absolute_url }}">{{ found_page.title }}</a></li>
                          {% endif %}
                          {% endi18npage %}

                          <li><a href="{% url 'sponsorship' %}">{% trans "Sponsorship" %}</a></li>

                          {% i18npage /pycon/ %}
                          {% if found_page %}
                            <li><a href="{{ found_page.get_absolute_url }}">{{ found_page.title }}</a></li>
                          {% endif %}
                          {% endi18npage %}

                          {% block language_links_mobile %}
                          {% for lang in LANGUAGES %}
                            <li class="hidden-desktop"><a href="{% url 'change_locale' lang.0 %}">{{ lang.1 }}</a></li>
                          {% endfor %}
                          {% endblock %}
                        </ul>
                      </nav>

                      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <header id="header" class="container">
                <div class="row">
                    <div class="span12">
                        <h1 class="page-title">{% block title %}{% endblock %}</h1>
                    </div>
                </div>

                {% block header %}{% endblock header %}
            </header>

            <main id="content" aria-role="main">
                <div class="container">
                    {% block content %}{% endblock content %}
                </div>
            </main>

            <footer id="footer">
                {% block footer %}{% include "inc/footer.html" %}{% endblock footer %}
            </footer>

            {% endblock page %}
        </div>

        <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-2.3.2.min.js' %}"></script>

        {% if GOOGLE_ANALYTICS %}
        <script>
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');
          ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        {% endif %}

        {% block extra_script %}{% endblock %}
    </body>
</html>
