{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block main_title %}
  {{ sponsor.name }}
{% endblock %}

{% block title %}
  {{ sponsor.name }}
{% endblock %}

{% block content %}
  <p>
    {% thumbnail sponsor.logo "200x100" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ sponsor.name }}" />
    {% endthumbnail %}
  </p>

  {{ sponsor.description_html | safe }}

  <p>
    <a href="{{ sponsor.url }}" class="friendLink" target="_blank">
      {{ sponsor.url }}
    </a>
  </p>
{% endblock %}
