{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Videos" %}{% endblock %}

{% block content %}
  <h4>{% trans "Videos of our latest events." %}</h4>
  <p>
    {% trans "To get a complete list of the videos of the presentation made during our events, please head your browser the following url: " %}
    <a href="http://www.youtube.com/user/MontrealPython">http://www.youtube.com/user/MontrealPython</a>
    {% trans "Thanks to <a href='http://blog.savoirfairelinux.com/p/christian-aubry/'>Christian Aubry</a> and <a href='https://www.savoirfairelinux.com/'>Savoir-Faire Linux</a> for their support and the hard work of making those videos available" %}
  </p>
<div id="contact" class="container text-center">
  <ul class="thumbnails">
    {% for video in videos %}
      <li class="span4">
        <div class="thumbnail">
          <a href="{{ video.link.0.href }}" target="_blank">
            <img src="http://img.youtube.com/vi/{{ video.id }}/0.jpg" />
          </a>

          <h5><a class="link" href="{{ video.link.0.href }}" >{{ video.title|truncatechars:45 }}</a></h5>

          <time datetime="{{ video.published }}" title="{{ video.published }}">
            {{ video.published.year }}-{{ video.published.month }}-{{ video.published.day }}
          </time>
        </div>
      </li>
      {% if forloop.counter|divisibleby:3 %}</ul><ul class="thumbnails">{% endif %}
    {% endfor %}
  </ul>

</div>
{% endblock %}
