$img-dir: "/static/img";

$arvo: "arvo";

// Articlebox
$articlebox-width: 980px;
$articlebox-height: 320px;
$articlebox-border: solid 1px lightgray;

$articlebox-date-bg-color: #4b4b4b;
$articlebox-object-avatar-size: 81px;



// colors
$color-green: #83c171;